{% extends 'base.html.twig' %}

{% block title %}Star Wars Api - Vaisseaux
{% endblock %}


{% block body %}

	{% for starship in pagination %}
		<article>
			<a href="{{ path( 'app_starship', { 'id': starship.url|replace({'https://swapi.dev/api/starships/':'','/':''}) } )}}">{{ starship.name }}</a>
		</article>

	{% endfor %}
	<div class="pagination">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
