{% extends 'base.html.twig' %}

{% block title %}Star Wars Api - Films
{% endblock %}


{% block body %}

	{% for movie in pagination %}
		<article>
			<a href="{{ path( 'app_movie', { 'id': movie.url|replace({'https://swapi.dev/api/films/':'','/':''}) } )}}">{{ movie.title }}</a>
		</article>

	{% endfor %}
	<div class="pagination">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
