{% extends 'base.html.twig' %}

{% block title %}Star Wars Api - Personnages
{% endblock %}


{% block body %}

	{% for character in pagination %}
		<article>
			<a href="{{ path( 'app_character', { 'id': character.url|replace({'https://swapi.dev/api/people/':'','/':''}) } )}}">{{ character.name }}</a>
		</article>

	{% endfor %}
	<div class="pagination">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
